body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
	/*font-weight: bold;
  font-size: 2.25vmin;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
